section.wrap

	include ./navigation.pug

	section.main

		h1 About

		h2 Vision of SMUN

		p Today, we live in a world plagued by a multitude of issues, such as unemployment, illiteracy, malnutrition, poverty, war, conflict, and climate change. However, at the same time, this very world gives us the freedom to think critically, express our opinions and work towards making the changes we wish to see. One such platform of creative expression is Model United Nations.
		
		p From its modest beginnings in 1998, Sanskriti has grown to become one of the most reputed institutions in the country owing to its investment in fostering social consciousness and compassion. Model United Nations at Sanskriti began almost 8 years ago as a student initiative to develop commanding leaders; since our inaugural conference in 2012, Sanskriti Model United Nations has grown to become a close knit, passionate community involved in Model UN conferences across Asia.  For 6 years Sanskriti has hosted almost 500 delegates from across the country in its annual conference; SMUN is also proud to host a diverse group of delegates from our international partners in Nepal, Bangladesh, Sri Lanka and Australia. 
		
		p For these 8 years, SMUN has tried to promote the idea of Model UN with which we began this tradition. One that is linked to the Sanskriti philosophy itself- that critical thinking and negotiation creates powerful leaders.  We remain committed to our conference philosophy- that Model UN is more than just argumentation and analysis, rather it is an exercise ultimately rooted in leadership and collaboration. We train our students in the skills of research, diplomacy, debate, and negotiation, and encourage them to take initiatives and responsibilities, thus empowering them with the ability to host, time and again, one successful conference after another.
		
		p SMUN is unique in that our secretariat invests deeply in creating committees that try to inspire a genuine understanding of global politics and international relations. This year, as every year, we hope to leave you with not only a heightened awareness of our incredibly troubled world but an understanding of the diversity of opinion and perspective that form the foundation of the United Nations itself. 

	section.footer.flex#contact

			h1 Contact

			.wrap.flex

				.email.flex

					h2 Email

					a(href="mailto:contact@sanskritimun.in") contact@sanskritimun.in

				.phone.flex
					
					h2 Phone

					p
						| Lusha Jetley, Secretary General:&nbsp;
						a(href="tel:+919810172909") +919810172909
					p
						| Gautham Shiva Sreeji, Under-Secretary General:&nbsp;
						a(href="tel:+918800531030") +918800531030
					p
						| Manisha Choudhury, MUN Coordinator:&nbsp;
						a(href="tel:+919810501965") +919810501965

				.address.flex
					
					h2 Address

					p
						| Sanskriti School
						br
						| Dr. S. Radhakrishnan Marg
						br
						| Chanakyapuri, New Delhi
						br
						| Delhi - 21
						br
						| India