section.main

	div.right
	div.left
	div.top
	div.bottom

	section.content.flex

		.top.flex
		
			img(src="/assets/img/logo.svg").noselect

		.bottom.flex

			h1 Sanskriti Model United Nations Conference 2018

			h2 25th &mdash; 27th April 2018

			p