section.wrap

	include ./navigation.pug

	section.main

		.head.flex

			.top.flex

				img(src="/assets/img/logo.svg")

			.bottom.flex

				h1 Sanskriti MUN 2018

				h2 25th &mdash; 27th April

				p
		
		.content
			
			.welcome.flex

				.wrap.flex

					h1 Welcome, Delegates

					p.
						Dear delegates and faculty advisors.

					p.
						It is my distinct pleasure to invite you to the seventh edition of the Sanskriti Model United Nations Conference, in the year 2018.

					p.
						Since the inception of Model UN in Sanskriti, we have striven to bring forth to the circuit a conference driven by passion, innovation and the spirit of collaboration. Year after year, we have been honoured and privileged to host some of the most intelligent minds of the current generation, in the form of high school students, collaborating with one another to create intricate policies, resolve crises and invest themselves in positions they have experienced only in the realms of their minds. 

					p.
						At the 2018 edition of the conference, we bring to you a diverse set of committees and agendas, ranging from the most pressing present day conflicts, to ideological wars which began long ago, in the pages of time, but continue to influence geopolitics today. We bring to you new ideas, fresh perspectives, but the continued standard of the Sanskriti Model United Nations Conference – a standard which carries with it the love, respect and admiration of countless hearts in India and elsewhere. 

					p.
						I invite you to Sanskriti MUN, not just to be a part of our efforts to ignite the fires of public policy in the hearts of innovative students, but also, to mould the new shape the world is poised to take on today. Whether you are an experienced MUNer, or a novice starting out, I assure you, your ideas will find a place in Sanskriti MUN. 

					p.
						I hope to see you in April, and I wish you all the very best. 



					p Sincerely,

					p
						| Lusha Jetley
						br
						| Secretary General
						br
						| Sanskriti Model United Nations 2018
			
			.links.flex

					a.flex

						span.ion-ios-folder-outline

						h2 Committee Resources

					a.flex

						span.ion-ios-flag-outline

						h2 Allotments
						
			.upper-secretariat#upper-secretariat

				.wrap.flex

					h1 Secretariat

					.images.flex

						.card.flex(data-upper="0")

							img(src="/assets/img/sec/lusha.jpg")

							h2 Lusha Jetley

							h3 Secretary General

						.card.flex(data-upper="1")

							img(src="/assets/img/sec/gautham.jpg")

							h2 Gautham Shiva Sreeji

							h3 Under Secretery General

						.card.flex(data-upper="2")

							img(src="/assets/img/sec/jahnavi.jpg")

							h2 Jahnavi Sodhi

							h3 Director General &mdash; General Assembly

						.card.flex(data-upper="3")

							img(src="/assets/img/sec/rahul.jpg")

							h2 Rahul Sharma

							h3 Director General &mdash; Crisis

						.card.flex(data-upper="4")

							img(src="/assets/img/sec/shreya.jpg")

							h2 Shreya Singh

							h3 Director General &mdash; Conference
					
					button(onclick="location.href='/secretariat.html'") More

			.committees#committees
				
				.wrap.flex

					h1 Committees


					- var committees = ["Disarmament and International Security", "Social, Humanitarian, and Cultural Committee", "United Nations Security Council", "United Nations Special Committee on Palestine, 1947", "League of Arab States", "All India Political Parties Meet", "Joint Crisis Committee", "United Nations Correspondents Association", "Photography"];
					- var abbr = ["disec","sochum", "unsc", "unscop", "arableague","aippm", "jcc", "unca", "photography"]
					- var i = 0

					.committeeWrap.flex

						while i < abbr.length
							.card.flex(data-committee=i)

								img(src="/assets/img/committees/" + abbr[i] + ".jpg")

								h2= committees[i++]
	//- section.footer

		h1 Contact

		.wrap

			.email

			.phone

			.address