section.wrap

	include ./navigation.pug

	section.main

		h1 Secretariat &mdash; Sanskriti MUN '18

		.sec.flex

			each person in ["Lusha Jetley", "Ananya Sinha", "Amogh Gyaneshwar", "Vasudha Thakur", "Mihir Chaturvedi", "Mehul Agarwal", "Gautham Shiva Sreeji", "Daya Mehrotra", "Agastya Pulapaka", "Jahnavi Sodhi", "Shauryya Vira", "Natasha Singh", "Zinnia Aurora", "Abhisri Nath", "Sugandhana Aluwalia", "Vidisha Madan", "Madhav Lavakare", "Shivam Nanda", "Aakanksha Sinha", "Tanvee Shehrawat", "Agastya Singh", "Ayushman Somani", "Rahul Sharma", "Madhav Sharma", "Shreya Singh", "Nandini Sanyal", "Ananya Jain", "Bhavya Pandey", "Diya Srivastava", "Jyotsna Pandit", "Sana Singh", "Samriddhi Dube"]

				.card.flex

					img(src="/assets/img/sec/" + person + ".jpg")

					h2= person
	
	section.footer.flex#contact

		h1 Contact

		.wrap.flex

			.email.flex

				h2 Email

				a(href="mailto:contact@sanskritimun.in") contact@sanskritimun.in

			.phone.flex
				
				h2 Phone

				p
					| Lusha Jetley, Secretary General:&nbsp;
					a(href="tel:+919810172909") +919810172909
				p
					| Gautham Shiva Sreeji, Under-Secretary General:&nbsp;
					a(href="tel:+918800531030") +918800531030
				p
					| Manisha Choudhury, MUN Coordinator:&nbsp;
					a(href="tel:+919810501965") +919810501965

			.address.flex
				
				h2 Address

				p
					| Sanskriti School
					br
					| Dr. S. Radhakrishnan Marg
					br
					| Chanakyapuri, New Delhi
					br
					| Delhi - 21
					br
					| India