section.wrap

	include ./navigation.pug

	section.main

		.head.flex

			.top.flex

				img(src="/assets/img/logo.svg")

			.bottom.flex

				h1 Sanskriti MUN 2018

				h2 25th &mdash; 27th April

				p
		
		.content
			
			.welcome.flex

				.updates.flex

					.countdown.flex

						h1 Conference Countdown

						.timer.flex

							.days.flex

								p 00

								h2 Days

							.hours.flex

								p 00

								h2 Hours

							.minutes.flex

								p 00

								h2 Minutes

							.seconds.flex

								p 00

								h2 Seconds

					.registration.flex

						h1 Priority Registration Ends March 15
						
						a(href="/register.php") REGISTER HERE

					.update-box.flex

						ul
							li

								| View 
								
								a(href="/assets/docs/accodomation.doc" download) Accomodation Details

				.wrap.flex

					h1 Welcome, Delegates

					p(style="font-weight:500").
						Dear delegates and faculty advisors.

					p.
						It is my distinct pleasure to invite you to the seventh edition of the Sanskriti Model United Nations Conference, in the year 2018.

					p.
						Since the inception of Model UN in Sanskriti, we have striven to bring forth to the circuit a conference driven by passion, innovation and the spirit of collaboration. Year after year, we have been honoured and privileged to host some of the most intelligent minds of the current generation, in the form of high school students, collaborating with one another to create intricate policies, resolve crises and invest themselves in positions they have experienced only in the realms of their minds. 

					p.
						At the 2018 edition of the conference, we bring to you a diverse set of committees and agendas, ranging from the most pressing present day conflicts, to ideological wars which began long ago, in the pages of time, but continue to influence geopolitics today. We bring to you new ideas, fresh perspectives, but the continued standard of the Sanskriti Model United Nations Conference – a standard which carries with it the love, respect and admiration of countless hearts in India and elsewhere. 

					p.
						I invite you to Sanskriti MUN, not just to be a part of our efforts to ignite the fires of public policy in the hearts of innovative students, but also, to mould the new shape the world is poised to take on today. Whether you are an experienced MUNer, or a novice starting out, I assure you, your ideas will find a place in Sanskriti MUN. 

					p.
						I hope to see you in April, and I wish you all the very best. 



					p Sincerely,

					p
						| Lusha Jetley
						br
						| Secretary General
						br
						| Sanskriti Model United Nations 2018
					
					.hr

					p(style="font-weight:500") Dear Delegates and Faculty Advisors, 

					p It is with utmost pride and pleasure that I invite you to join us for the seventh session of Sanskriti Model United Nations from April 25-17, 2018. My name is Gautham Shiva Sreeji, and I will be serving as the Under Secretary General for Sanskriti MUN 2018.

					p For seven years now, Sanskriti Model United Nations has sought to empower, educate and develop the minds of enthusiastic high school students from all over the country and overseas. 

					p Over the three days of Sanskriti Model UN we aim to give you a platform to not only learn and develop but show you the importance of compromise and collaboration. We hope that through representing nations whose policies you may not personally agree with and discussing agendas you have not associated with, we instill a sense of rationality within you all, as that is what is most needed in the coming generation. We at Sanskriti aim at creating thinking individuals and there is no better platform for doing so than Sanskriti Model UN. To create the stimulating atmosphere we strive to provide you with, this year we will be simulating a range of committees that your directors have been working relentlessly towards making a success.

					p ‘Our lives begin to end the day we become silent about things that matter.’ - Martin Luther King Junior

					p This April, we invite you to discuss and deliberate upon things that matter. We invite you to think and to learn. On behalf of the entire Secretariat, welcome to the seventh edition of Sanskriti Model United Nations 2018. Please do not hesitate to reach out to us with any queries. We look forward to hosting you in April.

					p Regards,
					
					p
						| Gautham Shiva Sreeji
						br
						| Under Secretary General
						br
						| Sanskriti Model United Nations 2018

				.updates#pseudo

			.links

				.wrap.flex

					a.flex

						span.ion-ios-folder-outline

						h2 Committee Resources

					a.flex

						span.ion-ios-flag-outline

						h2 Allotments
						
			.upper-secretariat#upper-secretariat

				.wrap.flex

					h1 Secretariat

					.images.flex

						.card.flex(data-upper="0")

							img(src="/assets/img/sec/lusha.jpg")

							h2 Lusha Jetley

							h3 Secretary General

						.card.flex(data-upper="1")

							img(src="/assets/img/sec/gautham.jpg")

							h2 Gautham Shiva Sreeji

							h3 Under Secretary General

						.card.flex(data-upper="2")

							img(src="/assets/img/sec/jahnavi.jpg")

							h2 Jahnavi Sodhi

							h3 Director General &mdash; General Assembly

						.card.flex(data-upper="3")

							img(src="/assets/img/sec/rahul.jpg")

							h2 Rahul Sharma

							h3 Director General &mdash; Crisis

						.card.flex(data-upper="4")

							img(src="/assets/img/sec/shreya.jpg")

							h2 Shreya Singh

							h3 Director General &mdash; Conference
					
					//- button(onclick="location.href='/secretariat.html'") More

			.committees#committees
				
				.wrap.flex

					h1 Committees


					- var committees = ["Disarmament and International Security", "Social, Humanitarian, and Cultural Committee", "United Nations Security Council", "United Nations Special Committee on Palestine, 1947", "League of Arab States", "All India Political Parties Meet", "Joint Crisis Committee", "United Nations Correspondents Association (Press Corps)"];
					- var abbr = ["disec","sochum", "unsc", "unscop", "arableague","aippm", "jcc", "unca"]
					- var i = 0

					.committeeWrap.flex

						while i < abbr.length
							.card.flex(data-committee=i)

								img(src="/assets/img/committees/" + abbr[i] + ".jpg")

								h2= committees[i++]
	
			section.footer.flex#contact

				h1 Contact

				.wrap.flex

					.email.flex

						h2 Email

						a(href="mailto:contact@sanskritimun.in") contact@sanskritimun.in

					.phone.flex
						
						h2 Phone

						p
							| Lusha Jetley, Secretary General:&nbsp;
							a(href="tel:+919810172909") +919810172909
						p
							| Gautham Shiva Sreeji, Under-Secretary General:&nbsp;
							a(href="tel:+918800531030") +918800531030
						p
							| Manisha Choudhury, MUN Coordinator:&nbsp;
							a(href="tel:+919810501965") +919810501965

					.address.flex
						
						h2 Address

						p
							| Sanskriti School
							br
							| Dr. S. Radhakrishnan Marg
							br
							| Chanakyapuri, New Delhi
							br
							| Delhi - 21
							br
							| India