section.wrap

    section.main

        h1 Secretariat &mdash; Sanskriti MUN '18

        .sec.flex

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 

            .card.flex

                img(src="/assets/img/")

                h2 