nav.flex

	.wrap.flex

		.right.flex
				
			a(href="/").flex

				img(src="/assets/img/logo-silhouette.png")

		.left.flex

			ul.flex

				each link in ['Register', 'Secretariat', 'Committees', 'Guides', 'Contact']
					li.flex
						a(data-link=link.toLowerCase())= link