nav.flex

	.wrap.flex

		.right.flex
				
			a(href="/").flex

				img(src="/assets/img/logo-silhouette.png")

		.left.flex

			ul.flex

				li.flex
					
					a(href="/register.php") Register
				
				li.flex
					
					a(href="/#upper-secretariat") Secretariat
				
				li.flex
					
					a(href="/#committees") Committees
				
				li.flex
					
					a(href="/#guides") Guides
				
				li.flex
					
					a(href="/#contact") Contact