nav.flex

	.wrap.flex

		.right.flex
				
			a(href="/").flex

				img(src="/assets/img/logo-silhouette.png")

		.left.flex

			ul.flex

				li.flex
					a(href="/about.html") About

				li.flex
					
					a(href="/register.php") Register
				
				li.flex
					
					a(href="/secretariat.html") Secretariat
				
				li.flex
					
					a(href="/#committees") Committees
				
				li.flex
					
					a(href="#" onclick="resourcesModal.open()") Guides
				
				li.flex
					
					a(href="/#contact") Contact