nav

    .wrap

        .right

            img(src="/assets/img/logo.svg")

            h1 Sanskriti MUN

        .left

            ul

                each link in ['Register', 'Secretariat', 'Committees', 'Guides', 'Contact']
                    li
                        a(data-link=link.toLowerCase())= link