section.wrap
	height 100%
	width 100%
	background #fff

	section.main
		width 90%
		max-width 1000px
		margin 0 auto

		h1
			font-family "Alegreya Sans"
			font-size 300%
			padding 50px 0
			text-align center
			color golden
			font-weight 500
			border-bottom 2px solid

		h2
			font-weight 500
			font-size 230%
			padding 30px 0
			color golden

		p
			width 100%
			font-size 1em
			color #000
			padding 20px 0
			line-height 2
			text-align justify
			letter-spacing 1px
			font-weight 300