@import "navigation"

section.main
	width 100%
	height 100%
	font-size 19px

	div.head
		width 100%
		height 80%
		background url('https://i.cubeupload.com/GepzxL.jpg') no-repeat
		background-attachment fixed
		background-position center center
		background-size cover
		flex-direction column
		position fixed
		z-index 1
	
		div.top
			width 100%
			height 50%

			img
				width auto
				height 40%
				-webkit-filter drop-shadow(0px 0px 10px #000)
				filter drop-shadow(0px 0px 10px #000)

		div.bottom
			width 100%
			height 50%
			justify-content space-between
			flex-direction column

			h1
				width 100%
				font-size 4em
				text-align center
				font-family "Oswald"
				letter-spacing 2px
				background rgba(0, 0, 0, 0.3)

				@media only screen and (max-width: 768px)
					font-size 2.3em
			
			h2
				font-size 2.5em
				text-align center
				font-family "Oswald"

				@media only screen and (max-width: 768px)
					font-size 2em
	
	div.content
		width 100%
		height 100%
		position relative
		top 80%
		z-index 2
		background #fff
	
		.welcome
			background #fff
			width 100%
			justify-content space-around
			align-items flex-start
			
			@media only screen and (max-width: 768px)
				flex-direction column-reverse
				align-items center	
			
			.updates
				width 250px
				flex-direction column
				margin 70px 0 0 0
				
				& > div
					border-bottom 2px solid golden
					width 100%
					padding 10px 0
					flex-direction column
					
					a
						color golden
						text-decoration none
					
					h1
						font-size 20px
						color golden
						padding 10px 0
						text-align center
					
					p
						color #222
						
					.timer
						width 100%
						height 30px
						justify-content space-between
						
						.flex
							flex-direction column
							
							p
								font-size 22px
								color #222
							
							h2
								font-size 17px
								color #222

			.wrap
				width 90%
				max-width 768px
				padding 50px 0
				justify-content space-around
				flex-direction column

				h1
					font-size 2.9em
					color golden
					padding 20px 0
					font-weight 300
					width 100%
				
				p
					width 100%
					font-size 1em
					color #000
					padding 15px 0
					line-height 2
					text-align justify
					letter-spacing 1px
					font-weight 300
				
				.hr
					width 100%
					height 2px
					background golden
					margin 20px 0
		
		.links
			width 100%
			height 20vh
			background #fff

			.wrap
				max-width 500px
				width 100%
				height 100%
				margin 0 auto
				background #fff

				a
					width 100%
					height 100%
					cursor pointer
					flex-direction column
					justify-content center
					color golden
					transition 0.3s all
					border-radius 10px 10px 0 0
					text-align center

					span 
						font-size 2.9em

					h2
						font-weight 200
						margin 10px 0 0 0
						font-size 1.2em

						@media only screen and (max-width: 700px)
							margin 0
					
					&:hover
						background golden 
						color #fff
		
		.upper-secretariat
			width 100%
			background #222
			color #ccc
			border-bottom 2px solid golden			
			border-top 2px solid golden			

			.wrap
				max-width 900px
				width 80%
				flex-direction column
				margin 40px auto

				h1
					font-size 2.8em
					padding 10px 0
					color golden
					font-weight 500
					padding 20px 0

				.images
					width 90%
					flex-wrap wrap
					justify-content space-around
					align-items center

					.card
						flex-direction column
						width 40%
						margin 20px 0
						text-align center

						img
							width 80%
							height auto
							box-shadow 0 0 30px #111

						h2
							font-size 1.2em
							color #fff
							font-weight 500
							padding 20px 0 10px
						
						h3
							font-size 1.1em
							color #ddd
							font-weight 100
						
						@media only screen and (max-width: 700px)
							width 100%
				
				button 
					border 1px solid golden 
					padding 20px 30px
					margin 20px 0
					color golden
					background transparent
					border-radius 10px
					font-size 20px
					cursor pointer
					transition 0.3s all
					font-family "Alegreya Sans"

					&:hover
						background golden
						color #222
		
		.committees
			width 100%
			background #fff
			color #222
			border-bottom 2px solid golden			
			border-top 2px solid golden			

			.wrap
				max-width 900px
				width 80%
				flex-direction column
				margin 40px auto

				h1
					font-size 2.8em
					padding 10px 0
					color golden
					font-weight 500
					padding 20px 0

				.committeeWrap
					width 90%
					flex-wrap wrap
					justify-content space-around
					align-items center

					.card
						flex-direction column
						width 40%
						margin 20px 0
						text-align center
						justify-content flex-start

						img
							width 80%
							height auto
							box-shadow 0 0 30px #eee

						h2
							font-size 1.2em
							color #444
							font-weight 500
							padding 20px 0 10px
						
						@media only screen and (max-width: 700px)
							width 100%
