nav
	height 8%
	width 100%
	position fixed
	background #ffa500f7
	z-index 3
	transition 0.2s all linear

	div.wrap
		width 95%
		max-width 1000px
		heigth 100%
		justify-content space-between

		.right
			height 100%

			a
				height 100%
				text-decoration none
				color white
				
				img
					height 80%
					width auto
			
		.left
			height 100%
			overflow-x auto

			ul
				height 60%
				overflow-x auto
				
				@media only screen and (max-width: 768px)
					justify-content flex-start

				li
					list-style-type none
					height 100%
					padding 0 15px
					cursor pointer
					font-size 18px
					font-weight 500

					a
						text-decoration none
						color white

				
				li:hover
					border-bottom 2px solid white
					margin-bottom -2px