@charset "utf-8"

html, body, :root
	width 100%
	height 100%
	color white
	font-family "Alegreya Sans"

::selection
	background #de67436b
	color #fff

@import "imports/variables"
@import "imports/universal"
@import "imports/body-index"